.my_container {
  border-style: solid;
}

.header_element {
  text-align: center;
}

.header_text {
  font-size: 1.8em;
}

.menus {
  font-size: 0.8em;
}

.container_imgage1 {
  margin-top: 15px;
}

.container_headers {
  margin-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#container_meteorologic {
  margin-left: 100px;
  margin-right: 300px;
}
